.calendar-container {
  background-color: #f0f0f0; /* Couleur de fond de l'élément */
  border-radius: 10px; /* Rayon des coins pour arrondir les bords */
  padding: 10px; /* Espacement à l'intérieur de l'élément */
}

.calandar{
  padding-bottom: 80px;
}