{% extends 'base.html.twig' %}

{% block title %}Reset Your Password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">
            {{ flash_error }}
        </div>
    {% endfor %}
    
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center">Réinitialisez votre mot de passe</h1>

                        {{ form_start(requestForm, {'attr': {'class': 'mt-3'}}) }}
                        <div class="form-group">
                            {{ form_row(requestForm.email, { 'attr': {'class': 'form-control', 'placeholder': 'Entrez votre adresse e-mail'} }) }}
                        </div>
                        <small class="text-muted">
                            Entrez votre adresse e-mail, et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                        </small>

                        <div class="text-center mt-3">
                            <button class="btn btn-primary">Envoyer l'e-mail de réinitialisation du mot de passe</button>
                        </div>
                        {{ form_end(requestForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
