{% extends 'base.html.twig' %}

{% block title %}Reset Your Password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">
            {{ flash_error }}
        </div>
    {% endfor %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center">Reset Your Password</h1>

                        {{ form_start(requestForm) }}
                        <div class="form-group">
                            {{ form_row(requestForm.email, { 'attr': {'class': 'form-control', 'placeholder': 'Enter your email'} }) }}
                        </div>
                        <small class="text-muted">
                            Enter your email address, and we will send you a
                            link to reset your password.
                        </small>

                        <div class="text-center mt-3">
                            <button class="btn btn-primary">Send Password Reset Email</button>
                        </div>
                        {{ form_end(requestForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
