@charset "UTF-8";

@font-face {
  font-family: "Lexend-SemiBold";
  src: url("../js/font/Lexend-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend-SemiBold", sans-serif;
  fill: black;
}

.card.resetPassword {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body.resetPassword {
  padding: 2rem;
}

.text-center.resetPassword {
  text-align: center;
}

.form-group.resetPassword {
  margin-bottom: 1.5rem;
}

.form-control.resetPassword {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-muted.resetPassword {
  font-size: 0.875rem;
  color: #6c757d;
}

.btn-primary.resetPassword {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  cursor: pointer;
}

.alert-danger.resetPassword {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert.resetPassword {
  font-size: 1rem;
  line-height: 1.5;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .container.resetPassword {
      margin-top: 2rem;
  }

  .col-md-6.resetPassword {
      margin-top: 2rem;
  }
}



