.frame {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #eaeaea;
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding: 0px 34px 40px 35px;
    position: relative;
  }
  
  .frame .calendar-events {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 32px;
    height: 361px;
    margin-right: -9px;
    position: relative;
  }
  
  .frame .divider {
    height: 1px;
    object-fit: cover;
    position: relative;
    width: 416.63px;
  }
  
  .frame .text-wrapper {
    color: var(--light-secondary);
    font-family: var(--bold-font-family);
    font-size: var(--bold-font-size);
    font-style: var(--bold-font-style);
    font-weight: var(--bold-font-weight);
    height: 60px;
    letter-spacing: var(--bold-letter-spacing);
    line-height: var(--bold-line-height);
    position: relative;
    width: 40px;
  }
  
  .frame .weekdays {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 6px;
    justify-content: flex-end;
    position: relative;
    width: 361px;
  }
  
  .frame .div {
    color: var(--light-primary);
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
    font-style: var(--default-font-style);
    font-weight: var(--default-font-weight);
    letter-spacing: var(--default-letter-spacing);
    line-height: var(--default-line-height);
    margin-top: -1px;
    position: relative;
    text-align: right;
    width: fit-content;
  }
  
  .frame .text-wrapper-2 {
    color: var(--light-primary);
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
    font-style: var(--default-font-style);
    font-weight: var(--default-font-weight);
    letter-spacing: var(--default-letter-spacing);
    line-height: var(--default-line-height);
    margin-top: -1px;
    position: relative;
    text-align: right;
    width: 84px;
  }
  
  .frame .event {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
    width: 418px;
  }
  
  .frame .text-wrapper-3 {
    color: var(--light-primary);
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
    font-style: var(--default-font-style);
    font-weight: var(--default-font-weight);
    letter-spacing: var(--default-letter-spacing);
    line-height: var(--default-line-height);
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .frame .ABS-DI {
    color: var(--light-primary);
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
    font-style: var(--default-font-style);
    font-weight: var(--default-font-weight);
    letter-spacing: var(--default-letter-spacing);
    line-height: var(--default-line-height);
    margin-top: -1px;
    position: relative;
    text-align: right;
    width: 273px;
  }
  
  .frame .DI-DI {
    color: var(--light-primary);
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
    font-style: var(--default-font-style);
    font-weight: var(--default-font-weight);
    letter-spacing: var(--default-letter-spacing);
    line-height: var(--default-line-height);
    margin-top: -1px;
    position: relative;
    text-align: right;
    width: 301px;
  }
  
  .frame .ABS-ABS {
    color: var(--light-primary);
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
    font-style: var(--default-font-style);
    font-weight: var(--default-font-weight);
    letter-spacing: var(--default-letter-spacing);
    line-height: var(--default-line-height);
    margin-top: -1px;
    position: relative;
    text-align: right;
    width: 272px;
  }
  
  .frame .arrows {
    flex: 0 0 auto;
    margin-bottom: -1px;
    position: relative;
  }
  